.experiencias{
    display: flex;
    flex-direction: column;
    width: 348px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.experiencias h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.experiencias p{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}