.links{
    width: 348px;
    height: auto;
    padding: 30px;
}
.links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.links ul li{
    display: flex;
    gap: 28px;
    align-items: center;
}
.links ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.links ul li img{
    fill: var(--text-color);
    width: 24px;
    height: 24px;
}