.my-projects{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-projects h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.my-projects p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}