.post{
    display: flex;
    padding: 30px;
    gap: 20px;
    align-items: center;
}
.post div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post div img{
    border-radius: 50%;
}
.post div p:nth-child(1){
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.post div p:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.post div p:nth-child(4){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.post div p:nth-child(5){
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    gap: 10px;
}