.profile{
    display: flex;
    width: 21.75rem;
    height: 18.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.profile img{
    border: 0.125rem solid #00FF00;
    border-radius: 50%;
}
.profile h4{
    font-style: normal;
    font-weight: 700;
    font-size: 1.438rem;
    line-height: 1.813rem;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.profile p{
    font-style: normal;
    font-weight: 300;
    font-size: 0.813rem;
    line-height: 1rem;
}