body{
    display: flex;
    padding: 1.8rem;
    gap: 2rem;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    width: 100%;
    height: auto;
}
aside{
    display: flex;
    flex-direction: column;
    flex-basis: 21.75rem;
    gap: 1.875rem;
}
aside section, main section{
    background-color: var(--bg-cards);
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.063rem rgba(0, 0, 0, 0.2);
}
main{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
