body{
    display: flex;
    padding: 40px;
    gap: 32px;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    width: 100%;
    height: auto;
}
aside{
    display: flex;
    flex-direction: column;
    flex-basis: 348px;
    gap: 30px;
}
aside section, main section{
    background-color: var(--bg-cards);
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (max-width: 1200px){
    .projects{
        flex-direction: column;
    }
}
@media (max-width: 865px){
    body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main section{
        width: 348px;
    }
    .post div img{
        width: 64px;
        height: 64px;
    }
}